# Lists and tuples
## Lists

The main difference between tuples and lists are you can modify a list element while a whith a tuple is not possible, another diferrece is tuples are more time effency than lists. List elements are between [...], tuple elements are between (...). Here is a list:

In [1]:
a = [5,8,9,10,22,8,54,11]
a

[5, 8, 9, 10, 22, 8, 54, 11]

It's possible to keep text and numbers in a single list,

In [15]:
b = ['Laptop','NYC','W',1989]
b

['Laptop', 'NYC', 'W', 1989]

First element has index 0,

In [4]:
b[0]

'Laptop'

Use len function to get the lenght of list or an element of list,

In [9]:
len(b)

4

In [10]:
len(b[0])

6

Use arithmetic operations to find an index,

In [18]:
b[51-49]

'W'

It's possible to change the value of a list element,

In [20]:
a[2]='Ralph'
a

[5, 8, 'Ralph', 10, 22, 8, 54, 11]

Every element of list can be used as a variable,

In [25]:
d=a[1] + a[4]
d

30

Adding elements to a list,

In [28]:
numlist = []

for num in range(-2,4): # index "num" between -2 to 4, index start from 0 (0,1,2,3,4)
    numlist += [num]   

numlist

[-2, -1, 0, 1, 2, 3]

It's possible to concat 2 lists,

In [30]:
c = a + b
c

[5, 8, 'Ralph', 10, 22, 8, 54, 11, 'Laptop', 'NYC', 'W', 1989]

## Tuples
Adding elements to a tuple,

In [33]:
datatuple = ()
datatuple = 'Gorilla', '911', 58, 'B'
datatuple

('Gorilla', '911', 58, 'B')

Using tupla elements into print function,

In [36]:
print('The', datatuple[0], ', tried to call', datatuple[1], 'to request ',  datatuple[2], datatuple[3], 'ananas')

The Gorilla , tried to call 911 to request  58 B ananas

Trying to modify a tuple element (error),

In [37]:
datatuple[0] = 58

TypeError: 'tuple' object does not support item assignment

New tuple with a secuence of numbers as an element,

In [38]:
person_dob =('James',[9,5,1992])

Tupla elements as a variables,

In [40]:
name,dob=person_dob
name

'James'

In [46]:
dob

[9, 5, 1992]

In [48]:
dob[1]

5

Creating a tuple from a list using enumerate function,

In [49]:
fruits = ['Lemon','Kiwi','Blueberries']
tuple(enumerate(fruits))

((0, 'Lemon'), (1, 'Kiwi'), (2, 'Blueberries'))

Creating a list with tuple elements using enumerate function,

In [54]:
list(enumerate(fruits))

[(0, 'Lemon'), (1, 'Kiwi'), (2, 'Blueberries')]

Second element, second position of tupla,

In [53]:
list(enumerate(fruits))[1][1]

'Kiwi'

## Split squences (lists)
Split elements of list

In [45]:
powtwo = [2,4,8,16,32,64,128,256]
powtwo

[2, 4, 8, 16, 32, 64, 128, 256]

Here are the 4th and 5th elements (index start from zero),

In [3]:
powtwo[3:5] # from index 3 to index 5

[16, 32]

First 5 elements of list,

In [4]:
powtwo[:5]

[2, 4, 8, 16, 32]

From 4th element (index 3) to end,

In [5]:
powtwo[3:]

[16, 32, 64, 128, 256]

All elements,

In [6]:
powtwo[:]

[2, 4, 8, 16, 32, 64, 128, 256]

Every 2 positions (index) list,

In [7]:
powtwo[::2]

[2, 8, 32, 128]

Every 3 positions (index) list,

In [9]:
powtwo[::3]

[2, 16, 128]

Reverse the order

In [10]:
powtwo[::-1]

[256, 128, 64, 32, 16, 8, 4, 2]

Every 3 positions in reverse

In [11]:
powtwo[::-3]

[256, 32, 4]

Replacing first 3 elements,

In [46]:
powtwo[:3]=['Two','Four','Eight']
powtwo

['Two', 'Four', 'Eight', 16, 32, 64, 128, 256]

Deleting first and second elements,

In [47]:
powtwo[0:2]=[] #from index zero to index 1
powtwo

['Eight', 16, 32, 64, 128, 256]

Another way,

In [44]:
powtwo[:2]=[] #from index zero to index 1

['Eight', 16, 32, 64, 128, 256]

## del sentence
Use del to delete element of list. Here's a new list,

In [1]:
tens = [0,10,20,30,40,50,60,70,80,90]
tens

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Deleting from index 3 to index 5,

In [2]:
del tens[3:6]

Deleting every second element,

In [4]:
tens = [0,10,20,30,40,50,60,70,80,90]
del tens[::2]
tens

[10, 30, 50, 70, 90]

Deleting de whole list,

In [6]:
del tens

## Sort List
Sorting list using sort and sorted function

In [8]:
age = [65,26,28,36,18]
age

[65, 26, 28, 36, 18]

In [10]:
age.sort()
age

[18, 26, 28, 36, 65]

Reverese sorting,

In [11]:
age.sort(reverse = True)

Using sorted,

In [17]:
age = [65,26,28,36,18]
agesorted = sorted(age)
agesorted

[18, 26, 28, 36, 65]

Sorting string list,

In [22]:
strlist = 'KEYboard'
strlist

'KEYboard'

First sort uppercase chars,

In [23]:
strlistsort = sorted(strlist)
strlistsort

['E', 'K', 'Y', 'a', 'b', 'd', 'o', 'r']

It's not possible to sort tuples useing sort function but sorted, error with sort,

In [28]:
tupleinit = (45,22,11,87,65)
tupleinit

(45, 22, 11, 87, 65)

Error with sort,

In [30]:
tupleinit.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [29]:
tuplesorted = sorted(tupleinit)
tuplesorted

[11, 22, 45, 65, 87]

## Searching for secuences

In [1]:
nlist = [65,12,19,80,36,28,16,18,36,16,45,32,36,59]

Index of number 45,

In [2]:
nlist.index(45)

10

True or false existence

In [3]:
28 in nlist

True

In [4]:
11 in nlist

False

## Insert, append, remove, reverse, copy and clear list methods

In [42]:
countries = ['Italy','Peru','USA']
countries

['Italy', 'Peru', 'USA']

Insert element at index (0 for this example),

In [17]:
countries.insert(0,'Panama')
countries

['Panama', 'Italy', 'Peru', 'USA']

Append item (append is always the last element),

In [18]:
countries.append('Germany')
countries

['Panama', 'Italy', 'Peru', 'USA', 'Germany']

Extend elements (adding element at last position),

In [19]:
countries.extend([10, 20, 30, 40])
countries

['Panama', 'Italy', 'Peru', 'USA', 'Germany', 10, 20, 30, 40]

Reverse elements of list,

In [22]:
countries.reverse()
countries

[40, 30, 20, 10, 'Germany', 'USA', 'Peru', 'Italy', 'Panama']

Copy list to a new one,

In [24]:
countries2 = countries.copy()
countries2

[40, 30, 20, 10, 'Germany', 'USA', 'Peru', 'Italy', 'Panama']

Clear all elements of list,

In [15]:
countries.clear()
countries

[]

## Count, min, max methods

In [25]:
litems = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]
litems

[15,
 21,
 16,
 19,
 20,
 16,
 19,
 15,
 21,
 17,
 18,
 24,
 20,
 24,
 21,
 19,
 18,
 16,
 19,
 16]

count method, how many times a list element repeats (item 16 for this example),

In [30]:
litems.count(16)

4

Min value element of list,

In [31]:
min(litems)

15

Max value element of list,

In [32]:
max(litems)

24

Min and max with strings (aplhabetically),

In [35]:
countries = ['Italy','Albania','USA']
min(countries)

'Albania'

In [34]:
max(countries)

'USA'

## List Comprehension

List comprehension offers a shorter syntax to create a new lists.

Creating a log way list,

In [36]:
alist = []
for i in range(1,11):
    alist.append(i)
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Now a shorter way,

In [38]:
blist = list(range(1,11))
blist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List with squared numbers,

In [39]:
clist = [i**2 for i in range(1,11)]
clist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Squared numbers less than 50,

In [41]:
dlist = [i**2 for i in range(1,11) if i**2 <50]
dlist

[1, 4, 9, 16, 25, 36, 49]

List comprehension with strings,

In [43]:
countries = ['Italy','Peru','USA']
countries

['Italy', 'Peru', 'USA']

All elements to upper case,

In [45]:
ucountries = [i.upper() for i in countries ]
ucountries

['ITALY', 'PERU', 'USA']

## Generator expressions
Creates a function (generator object) without yield a new keyword