# Lists and tuples
## Lists

The main difference between tuples and lists are you can modify a list element while a whith a tuple is not possible, another diferrece is tuples are more time effency than lists. List elements are between [...], tuple elements are between (...). Here is a list:

In [1]:
a = [5,8,9,10,22,8,54,11]
a

[5, 8, 9, 10, 22, 8, 54, 11]

It's possible to keep text and numbers in a single list,

In [15]:
b = ['Laptop','NYC','W',1989]
b

['Laptop', 'NYC', 'W', 1989]

First element has index 0,

In [4]:
b[0]

'Laptop'

Use len function to get the lenght of list or an element of list,

In [9]:
len(b)

4

In [10]:
len(b[0])

6

Use arithmetic operations to find an index,

In [18]:
b[51-49]

'W'

It's possible to change the value of a list element,

In [20]:
a[2]='Ralph'
a

[5, 8, 'Ralph', 10, 22, 8, 54, 11]

Every element of list can be used as a variable,

In [25]:
d=a[1] + a[4]
d

30

Adding elements to a list,

In [28]:
numlist = []

for num in range(-2,4): # index "num" between -2 to 4, index start from 0 (0,1,2,3,4)
    numlist += [num]   

numlist

[-2, -1, 0, 1, 2, 3]

It's possible to concat 2 lists,

In [30]:
c = a + b
c

[5, 8, 'Ralph', 10, 22, 8, 54, 11, 'Laptop', 'NYC', 'W', 1989]

## Tuples
Adding elements to a tuple,

In [33]:
datatuple = ()
datatuple = 'Gorilla', '911', 58, 'B'
datatuple

('Gorilla', '911', 58, 'B')

Using tupla elements into print function,

In [36]:
print('The', datatuple[0], ', tried to call', datatuple[1], 'to request ',  datatuple[2], datatuple[3], 'ananas')

The Gorilla , tried to call 911 to request  58 B ananas

Trying to modify a tuple element (error),

In [37]:
datatuple[0] = 58

TypeError: 'tuple' object does not support item assignment

New tuple with a secuence of numbers as an element,

In [38]:
person_dob =('James',[9,5,1992])

Tupla elements as a variables,

In [40]:
name,dob=person_dob
name

'James'

In [46]:
dob

[9, 5, 1992]

In [48]:
dob[1]

5

Creating a tuple from a list using enumerate function,

In [49]:
fruits = ['Lemon','Kiwi','Blueberries']
tuple(enumerate(fruits))

((0, 'Lemon'), (1, 'Kiwi'), (2, 'Blueberries'))

Creating a list with tuple elements using enumerate function,

In [54]:
list(enumerate(fruits))

[(0, 'Lemon'), (1, 'Kiwi'), (2, 'Blueberries')]

Second element, second position of tupla,

In [53]:
list(enumerate(fruits))[1][1]

'Kiwi'