# Dictionaries and sets
A dictionary is an unordered data collection stored in a key:value pairs, doesn't allow duplicates

## Dictionaries
Here's a dictoionary with names and their codes,

In [5]:
names = {'Lucy':'lu','Daniel':'dn','Albert':'al','Romina':'ro'}  # name is the key value
names

{'Lucy': 'lu', 'Daniel': 'dn', 'Albert': 'al', 'Romina': 'ro'}

Finding how many pairs are in 'names' dictonary,

In [2]:
len(names)

4

Another dictionary with ages,

In [6]:
ages = {'Lucy':31,'Daniel':55,'Albert':29,'Romina':17} # name is the key value
ages

{'Lucy': 31, 'Daniel': 55, 'Albert': 29, 'Romina': 17}

Showing with print both pairs of dictionary,

In [4]:
for user, age in ages.items():
    print(f'{user} is {age} years old')

Lucy is 31 years old
Daniel is 55 years old
Albert is 29 years old
Romina is 17 years old

Finding value from key,

In [9]:
ages['Albert'] # Albert is the key value

29

Trying to acces with value (error),

In [10]:
ages[29]

KeyError: 29

How to change the value of single pair,

In [12]:
ages['Lucy']=19
ages

{'Lucy': 19, 'Daniel': 55, 'Albert': 29, 'Romina': 17}

Deleting a element from dictionary,

In [13]:
del ages['Daniel']
ages

{'Lucy': 19, 'Albert': 29, 'Romina': 17}

Setting error in case of pair not found,

In [17]:
ages.get('Peter', 'Not in dictionary')

'Not in dictionary'

What if an element is found,

In [18]:
ages.get('Lucy', 'Not in dictionary')

19

Is 'key value' in dictionary,

In [19]:
'Alex' in ages

False

In [20]:
'Romina' in ages

True

Adding new elements to dictionary,

In [30]:
ages['Eva']=41  # if there is a new key, is a new element
ages

{'Lucy': 19, 'Albert': 29, 'Romina': 17, 'Eva': 41}

keys(), items(), values() methods in dictonaries,

In [23]:
for age in ages.values():
    print(age, end=', ')  # printing value of pairs

19, 29, 17,

In [25]:
for name in ages.keys():
    print(name, end=', ')  # printing key of pairs

Lucy, Albert, Romina,

In [35]:
list(ages.items()) # list elements of ages

[('Lucy', 19), ('Albert', 29), ('Romina', 17), ('Eva', 41)]

Sorting keys values,

In [50]:
for name in sorted(ages.keys()):
    print(name, end=', ')

Albert, Eva, Lucy, Romina,

Creating a dictonary with word:count pairs of values from a string variable,

In [6]:
text = ('whenever possible avoid mixing the context of one habit ' 'one habit is better than none' 'the contex of habit is ' 'avoid junk food too if possible is a good habit')

In [3]:
countword ={}
for word in text.split():
    if word in countword:
        countword[word]+=1
    else:
        countword[word]=1

countword

{'whenever': 1,
 'possible': 2,
 'avoid': 2,
 'mixing': 1,
 'the': 1,
 'context': 1,
 'of': 2,
 'one': 2,
 'habit': 4,
 'is': 3,
 'better': 1,
 'than': 1,
 'nonethe': 1,
 'contex': 1,
 'junk': 1,
 'food': 1,
 'too': 1,
 'if': 1,
 'a': 1,
 'good': 1}

Using print and sorted to show items,

In [4]:
print(f'{"Word":<12} Count')
for word, times in sorted(countword.items()):
    print(f'{word :<12}{times}')
    
print('Total of unique words: ', len(countword))

Word         Count
a           1
avoid       2
better      1
contex      1
context     1
food        1
good        1
habit       4
if          1
is          3
junk        1
mixing      1
nonethe     1
of          2
one         2
possible    2
than        1
the         1
too         1
whenever    1
Total of unique words:  20

There is a function that generates a dictionary from string with a single sentence: Counter,

In [7]:
from collections import Counter

In [8]:
countword ={}
countword = Counter(text.split())
countword

Counter({'habit': 4,
         'is': 3,
         'possible': 2,
         'avoid': 2,
         'of': 2,
         'one': 2,
         'whenever': 1,
         'mixing': 1,
         'the': 1,
         'context': 1,
         'better': 1,
         'than': 1,
         'nonethe': 1,
         'contex': 1,
         'junk': 1,
         'food': 1,
         'too': 1,
         'if': 1,
         'a': 1,
         'good': 1})

## Dictionary Comprehension
As same way lists, there is compact notation to generate dictionaries. Here's sample of transposing value key with dictionary comprehension,

In [9]:
ages = {'Lucy':31,'Daniel':55,'Albert':29,'Romina':17} 
ages

{'Lucy': 31, 'Daniel': 55, 'Albert': 29, 'Romina': 17}

In [11]:
ages_name = {age: name for name, age in ages.items()}
ages_name

{31: 'Lucy', 55: 'Daniel', 29: 'Albert', 17: 'Romina'}

Dictionary comprenhension to calculate the average of sells (list of imports),

In [12]:
sells = {'Lucy':[250, 857, 125],'Daniel':[805, 755, 238],'Albert':[100, 562, 28],'Romina':[355, 878, 751]}
sells

{'Lucy': [250, 857, 125],
 'Daniel': [805, 755, 238],
 'Albert': [100, 562, 28],
 'Romina': [355, 878, 751]}

In [13]:
avgsells = {seller:sum(sell)/len(sell) for seller, sell in sells.items()}
avgsells

{'Lucy': 410.6666666666667,
 'Daniel': 599.3333333333334,
 'Albert': 230.0,
 'Romina': 661.3333333333334}

## Sets
Sets are an unordered collection of unique elements (single elements not key:value), meanwhile dictionaries have a key:value pairs. Set of animals,

In [14]:
animals = {'Elephant','Dog','Parrot','Eagle','Octopus','Lion'}
animals

{'Dog', 'Eagle', 'Elephant', 'Lion', 'Octopus', 'Parrot'}

In [15]:
len(animals)

6

In [17]:
'Cat' in animals

False

In [18]:
'Dog' in animals

True

Set values to uppercase,

In [19]:
for animals in animals:
    print(animals.upper(), end=', ')

ELEPHANT, LION, OCTOPUS, EAGLE, DOG, PARROT,

Two list to a set, first list contains even numbers from 0 to 14 and the second list conains even numbers from 8 to 29,

In [21]:
evennum = list(range(0,15,2)) + list(range(8,30,2))
evennum

[0, 2, 4, 6, 8, 10, 12, 14, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

To a set

In [23]:
set(evennum)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28}

Set of unique values of text,

In [24]:
set(text.split())

{'a',
 'avoid',
 'better',
 'contex',
 'context',
 'food',
 'good',
 'habit',
 'if',
 'is',
 'junk',
 'mixing',
 'nonethe',
 'of',
 'one',
 'possible',
 'than',
 'the',
 'too',
 'whenever'}