# Strings
## Formating strings
### Presentation types
Formating 3.141592 to 3 decimals using f' ,

In [1]:
f'{3.141592:0.3f}'

'3.142'

Now using pi number from math library,

In [12]:
import math
f"{math.pi:.3f}"

'3.142'

Integers to string with format specifier "d",

In [8]:
f'{150:d}'

'150'

Integers to unicode character with format specifier "c",

In [16]:
f'{64:c}'

'@'

In [21]:
f'{58:c}{45:c}{41:c}'

':-)'

String format "s", default type for strings,

In [20]:
f'{"My age is ":s}{99}'

'My age is 99'

## Width and alignment

Sample of string representation of an integer (format specifer "d") with 10 spaces left (string of 10 character length),

In [49]:
f'[{314:10d}]'

'[       314]'

String "Alignment" then 15 spaces, then 10 spaces, then 3.14 with 2 decimals,

In [41]:
f'[{"Alignment":15}{3.14:10.2f}]'

'[Alignment            3.14]'

Right alignment usign format specifer ">",

In [43]:
f'[{"Right":>15}]'

'[          Right]'

Left alignment usign format specifer "<",

In [46]:
f'[{"Left":<15}]'

'[Left           ]'

Center alignment usign format specifer "^",

In [47]:
f'[{"Left":^15}]'

'[     Left      ]'

## Numeric Format
Different ways to use format specifiers "d" and "f". Adding minus sign to a integer number with 10 blank spaces at left,

In [6]:
f'[{-150:10d}]'

'[      -150]'

Adding positive sign,

In [8]:
f'[{150:+10d}]'

'[      +150]'

Adding zeros at left to a number,

In [2]:
f'[{150:+010d}]'

'[+000000150]'

Regular number, 1 blank space at left, negative number sparated with a new line specifier "\n",

In [26]:
print(f'{27:d}\n{27: d}\n{-27:d}')

27
 27
-27

Integer separated by commas delimiter,

In [10]:
f'{9874128:,d}'

'9,874,128'

Float number with only 3 decimals numbers and delimited by commas,

In [15]:
f'{4187698.2187986:,.3f}'

'4,187,698.219'

## Concatenating strings

In [22]:
s1= 'Hello'
s2= 'World'

In [18]:
s1 + s2

'HelloWorld'

Recursive concatenate separated by space,

In [23]:
s1 += " " + s2
s1

'Hello World'

Repeated string using *,

In [24]:
rep = 'Plane'
rep *= 4
rep

'PlanePlanePlanePlane'

## Other string operations
Removing all spaces and special characters on string with strip(),

In [28]:
s3 = '\t \n I enjoy every time of life \t\t \n'
s3

'\t \n I enjoy every time of life \t\t \n'

In [29]:
s3.strip()

'I enjoy every time of life'

Removing leading spaces and special characters,

In [31]:
s3.lstrip()

'I enjoy every time of life \t\t \n'

Removing tailing spaces and special characters,

In [32]:
s3.rstrip()

'\t \n I enjoy every time of life'

Comparing strings,

In [9]:
'python' == 'pyThon'

False

In [10]:
'python' == 'python'

True

Replacing,

In [8]:
values = '1\n2\n3\n4\n'

In [9]:
values.replace('\n',',')

'1,2,3,4,'

## Uppercase and Lowercase

capitalize() method is used to set first letter to uppercase,

In [4]:
'i Prefer tO drink wateR instead coKe'.capitalize()

'I prefer to drink water instead coke'

All letters begining with uppercase with title,

In [5]:
'i Prefer tO drink wateR instead coKe'.title()

'I Prefer To Drink Water Instead Coke'

All letters to uppercase,

In [6]:
'i Prefer tO drink wateR instead coKe'.upper()

'I PREFER TO DRINK WATER INSTEAD COKE'

All letters to lowercase,

In [7]:
'i Prefer tO drink wateR instead coKe'.lower()

'i prefer to drink water instead coke'

## Searching strings
count() is used to count strings or substrings in strings,

In [1]:
s4 = 'count is used to count strings or substrings in strings'
s4.count('count')

2

In [14]:
s4.count('str')

3

Count starting from index 3 (location in string),

In [21]:
s4.count('count',3)

1

Specifing index from 25 to 56,

In [22]:
s4.count('str',25,56)

2

Finding index of first found string,

In [23]:
s4.index('count')

0

In [24]:
s4.index('str')

23

rindex() method finds the highest index in the string where the substring is found,

In [39]:
s4.rindex('count')

17

In [40]:
s4.rindex('str')

48

True or false existence,

In [2]:
'str' in s4

True

Starts with, and ends with existence,

In [3]:
s4.startswith('cau')

False

In [5]:
s4.endswith('ings')

True

Printing all words that starts with 'a' letter,

In [7]:
s5 = 'array and any other data structure helps developers to achive their dreams'

for s5 in s5.split():
    if s5.startswith('a'):
        print(s5)

array
and
any
achive

## Split and join strings

In [10]:
s6='A,l,p,h,a,b,e,t,.'
s6

'A,l,p,h,a,b,e,t,.'

Splitting string into a list elements,

In [12]:
s6.split(',')

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', '.']

Splitting first 4 elements,

In [14]:
s6.split(',',4)

['A', 'l', 'p', 'h', 'a,b,e,t,.']

Joining string from list elements to single string separated by commas,

In [19]:
s7 = ['p','a','l','a','b','r','a']
s7

['p', 'a', 'l', 'a', 'b', 'r', 'a']

In [20]:
','.join(s7)

'p,a,l,a,b,r,a'

Another way to replace characters (commas in this sample) using join,

In [21]:
''.join(s7)

'palabra'

splitlines separates strings by each newline into a elements of list,

In [23]:
s8 = '''When sunrise every morning
I believe is a new
opportunity to 
drink a huge 
cup of coffee '''
s8

'When sunrise every morning\nI believe is a new\nopportunity to \ndrink a huge \ncup of coffee '

Getting the first element with splitlines,

In [25]:
s8.splitlines()

['When sunrise every morning',
 'I believe is a new',
 'opportunity to ',
 'drink a huge ',
 'cup of coffee ']

First element of list or first line of string,

In [26]:
s8.splitlines()[0]

'When sunrise every morning'

##  Reguar expressions
Regular Expression (RegEx), is a sequence of characters that forms a search pattern. Can be used to check if a string contains the specified search pattern.

To use RegEx in python is required to import re module,

In [2]:
import re

The easiest way to use RegEx is using fullmatch function,

In [4]:
s9 = '9110354'

In [7]:
'Match' if re.fullmatch(s9,'9110354') else "Doesn't match"

'Match'

In [5]:
'Match' if re.fullmatch(s9,'9400354') else "Doesn't match"

"Doesn't match"

RegEx contains characters like \, @, #, $ * and can be grouped with characters like [ ], { }, ( ), is needed to use raw strings (r strings).

RegEx to check if a string is a 10 numbers character (like phone numbers),

In [7]:
'Phone number OK' if re.fullmatch(r'\d{10}','2019218867') else "Isn't a phone number"

'Phone number OK'

RegEx for first letter uppercase and then lowercase characters, " * " means that can contain multiple characters in this case "*" applied only for lower case characters,

In [20]:
'Match' if re.fullmatch('[A-Z][a-z]*', 'Anderson') else "Doesn't match"

'Match'

In [4]:
'Match' if re.fullmatch('[A-Z][a-z]*', 'anderson') else "Doesn't match"

"Doesn't match"

RegEx for multiple uppercase characters at beginning and then at least one character is lower case with "+",

In [41]:
'Match' if re.fullmatch('[A-Z]*[a-z]+', 'ANDERSOn') else "Doesn't match"

'Match'

In [39]:
'Match' if re.fullmatch('[A-Z]*[a-z]+', 'ANDERSON') else "Doesn't match"

"Doesn't match"

RegEx for a string with at least 4 digits numbers,

In [46]:
'Match' if re.fullmatch(r'\d{4,}', '8285') else "Doesn't match"

'Match'

In [47]:
'Match' if re.fullmatch(r'\d{4,}', '82') else "Doesn't match"

"Doesn't match"

RegEx for a string with 8 to 10 digits numbers,

In [51]:
'Match' if re.fullmatch(r'\d{8,10}', '82887531') else "Doesn't match"

'Match'

In [52]:
'Match' if re.fullmatch(r'\d{8,10}', '827531') else "Doesn't match"

"Doesn't match"