# Strings
## Formating strings
### Presentation types
Formating 3.141592 to 3 decimals using f' ,

In [1]:
f'{3.141592:0.3f}'

'3.142'

Now using pi number from math library,

In [2]:
import math
f"{math.pi:.3f}"

'3.142'

Integers to string with format specifier "d",

In [3]:
f'{150:d}'

'150'

Integers to unicode character with format specifier "c",

In [4]:
f'{64:c}'

'@'

In [5]:
f'{58:c}{45:c}{41:c}'

':-)'

String format "s", default type for strings,

In [6]:
f'{"My age is ":s}{99}'

'My age is 99'

## Width and alignment

Sample of string representation of an integer (format specifer "d") with 10 spaces left (string of 10 character length),

In [7]:
f'[{314:10d}]'

'[       314]'

String "Alignment" then 15 spaces, then 10 spaces, then 3.14 with 2 decimals,

In [8]:
f'[{"Alignment":15}{3.14:10.2f}]'

'[Alignment            3.14]'

Right alignment usign format specifer ">",

In [9]:
f'[{"Right":>15}]'

'[          Right]'

Left alignment usign format specifer "<",

In [10]:
f'[{"Left":<15}]'

'[Left           ]'

Center alignment usign format specifer "^",

In [11]:
f'[{"Left":^15}]'

'[     Left      ]'

## Numeric Format
Different ways to use format specifiers "d" and "f". Adding minus sign to a integer number with 10 blank spaces at left,

In [12]:
f'[{-150:10d}]'

'[      -150]'

Adding positive sign,

In [13]:
f'[{150:+10d}]'

'[      +150]'

Adding zeros at left to a number,

In [14]:
f'[{150:+010d}]'

'[+000000150]'

Regular number, 1 blank space at left, negative number sparated with a new line specifier "\n",

In [15]:
print(f'{27:d}\n{27: d}\n{-27:d}')

27
 27
-27

Integer separated by commas delimiter,

In [16]:
f'{9874128:,d}'

'9,874,128'

Float number with only 3 decimals numbers and delimited by commas,

In [17]:
f'{4187698.2187986:,.3f}'

'4,187,698.219'

## Concatenating strings

In [18]:
s1= 'Hello'
s2= 'World'

In [19]:
s1 + s2

'HelloWorld'

Recursive concatenate separated by space,

In [20]:
s1 += " " + s2
s1

'Hello World'

Repeated string using *,

In [21]:
rep = 'Plane'
rep *= 4
rep

'PlanePlanePlanePlane'

## Other string operations
Removing all spaces and special characters on string with strip(),

In [22]:
s3 = '\t \n I enjoy every time of life \t\t \n'
s3

'\t \n I enjoy every time of life \t\t \n'

In [23]:
s3.strip()

'I enjoy every time of life'

Removing leading spaces and special characters,

In [24]:
s3.lstrip()

'I enjoy every time of life \t\t \n'

Removing tailing spaces and special characters,

In [25]:
s3.rstrip()

'\t \n I enjoy every time of life'

Comparing strings,

In [26]:
'python' == 'pyThon'

False

In [27]:
'python' == 'python'

True

Replacing,

In [28]:
values = '1\n2\n3\n4\n'

In [29]:
values.replace('\n',',')

'1,2,3,4,'

## Uppercase and Lowercase

capitalize() method is used to set first letter to uppercase,

In [30]:
'i Prefer tO drink wateR instead coKe'.capitalize()

'I prefer to drink water instead coke'

All letters begining with uppercase with title,

In [31]:
'i Prefer tO drink wateR instead coKe'.title()

'I Prefer To Drink Water Instead Coke'

All letters to uppercase,

In [32]:
'i Prefer tO drink wateR instead coKe'.upper()

'I PREFER TO DRINK WATER INSTEAD COKE'

All letters to lowercase,

In [33]:
'i Prefer tO drink wateR instead coKe'.lower()

'i prefer to drink water instead coke'

## Searching strings
count() is used to count strings or substrings in strings,

In [34]:
s4 = 'count is used to count strings or substrings in strings'
s4.count('count')

2

In [35]:
s4.count('str')

3

Count starting from index 3 (location in string),

In [36]:
s4.count('count',3)

1

Specifing index from 25 to 56,

In [37]:
s4.count('str',25,56)

2

Finding index of first found string,

In [38]:
s4.index('count')

0

In [39]:
s4.index('str')

23

rindex() method finds the highest index in the string where the substring is found,

In [40]:
s4.rindex('count')

17

In [41]:
s4.rindex('str')

48

True or false existence,

In [42]:
'str' in s4

True

Starts with, and ends with existence,

In [43]:
s4.startswith('cau')

False

In [44]:
s4.endswith('ings')

True

Printing all words that starts with 'a' letter,

In [45]:
s5 = 'array and any other data structure helps developers to achive their dreams'

for s5 in s5.split():
    if s5.startswith('a'):
        print(s5)

array
and
any
achive

## Split and join strings

In [46]:
s6='A,l,p,h,a,b,e,t,.'
s6

'A,l,p,h,a,b,e,t,.'

Splitting string into a list elements,

In [47]:
s6.split(',')

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', '.']

Splitting first 4 elements,

In [48]:
s6.split(',',4)

['A', 'l', 'p', 'h', 'a,b,e,t,.']

Joining string from list elements to single string separated by commas,

In [49]:
s7 = ['p','a','l','a','b','r','a']
s7

['p', 'a', 'l', 'a', 'b', 'r', 'a']

In [50]:
','.join(s7)

'p,a,l,a,b,r,a'

Another way to replace characters (commas in this sample) using join,

In [51]:
''.join(s7)

'palabra'

splitlines separates strings by each newline into a elements of list,

In [52]:
s8 = '''When sunrise every morning
I believe is a new
opportunity to 
drink a huge 
cup of coffee '''
s8

'When sunrise every morning\nI believe is a new\nopportunity to \ndrink a huge \ncup of coffee '

Getting the first element with splitlines,

In [53]:
s8.splitlines()

['When sunrise every morning',
 'I believe is a new',
 'opportunity to ',
 'drink a huge ',
 'cup of coffee ']

First element of list or first line of string,

In [54]:
s8.splitlines()[0]

'When sunrise every morning'

##  Reguar expressions
Regular Expression (RegEx), is a sequence of characters that forms a search pattern. Can be used to check if a string contains the specified search pattern.

To use RegEx in python is required to import re module,

In [55]:
import re

The easiest way to use RegEx is using fullmatch function,

In [56]:
s9 = '9110354'  # pattern string

In [57]:
'Match' if re.fullmatch(s9,'9110354') else "Doesn't match"

'Match'

In [58]:
'Match' if re.fullmatch(s9,'9400354') else "Doesn't match"

"Doesn't match"

RegEx contains characters like \, @, #, $ * and can be grouped with characters like [ ], { }, ( ), is needed to use raw strings (r strings).

RegEx to check if a string is a 10 numbers character (like phone numbers),

In [59]:
'Phone number OK' if re.fullmatch(r'\d{10}','2019218867') else "Isn't a phone number"

'Phone number OK'

RegEx for first letter uppercase and then lowercase characters, " * " means that can contain multiple characters in this case "*" applied only for lower case characters,

In [60]:
'Match' if re.fullmatch('[A-Z][a-z]*', 'Anderson') else "Doesn't match"

'Match'

In [61]:
'Match' if re.fullmatch('[A-Z][a-z]*', 'anderson') else "Doesn't match"

"Doesn't match"

RegEx for multiple uppercase characters at beginning and then at least one character is lower case with "+",

In [62]:
'Match' if re.fullmatch('[A-Z]*[a-z]+', 'ANDERSOn') else "Doesn't match"

'Match'

In [63]:
'Match' if re.fullmatch('[A-Z]*[a-z]+', 'ANDERSON') else "Doesn't match"

"Doesn't match"

RegEx for a string with at least 4 digits numbers,

In [64]:
'Match' if re.fullmatch(r'\d{4,}', '8285') else "Doesn't match"

'Match'

In [65]:
'Match' if re.fullmatch(r'\d{4,}', '82') else "Doesn't match"

"Doesn't match"

RegEx for a string with 8 to 10 digits numbers,

In [66]:
'Match' if re.fullmatch(r'\d{8,10}', '82887531') else "Doesn't match"

'Match'

In [67]:
'Match' if re.fullmatch(r'\d{8,10}', '827531') else "Doesn't match"

"Doesn't match"

Here's a ChatGPT prompt: "RegEx for US phone number" to get a RegEx for US phone numbers covering the following scenarios:
* (123) 456-7890
* 123-456-7890
* 123.456.7890
* 123 456 7890
* +1 123 456 7890 (optional country code)

In [68]:
'Match' if re.fullmatch(r'^(\+?1\s?)?(\()?(\d{3})(?(2)\))[-.\s]?(\d{3})[-.\s]?(\d{4})$', 
                        '+1 (212) 921-9265') else "Doesn't match"

'Match'

In [69]:
'Match' if re.fullmatch(r'^(\+?1\s?)?(\()?(\d{3})(?(2)\))[-.\s]?(\d{3})[-.\s]?(\d{4})$', 
                        '+1 (212) 921-92650') else "Doesn't match" # 0 added

"Doesn't match"

## Replacing and split strings
Another functions of re module are sub for replace and split. Here's an example of sub function to replace a new line character '\n' with a commas,

In [70]:
re.sub(r'\n',',','First 1\nSecond 2\nThird 3')

'First 1,Second 2,Third 3'

Using "+" to include more occurrences,

In [71]:
re.sub(r'\n+',',','First 1\n\n\nSecond 2\n\nThird 3')

'First 1,Second 2,Third 3'

It's possible tokenize a string using split and the RegEx ',\s*' with a delimiter like comma,

In [72]:
re.split(r',\s*','O,n,e, w,o,r,l,d')

['O', 'n', 'e', 'w', 'o', 'r', 'l', 'd']

Setting a max of splits,

In [73]:
re.split(r',\s*','O,n,e, w,o,r,l,d', maxsplit = 2)

['O', 'n', 'e, w,o,r,l,d']

## Searching and finding strings
search() and findall() are methods used for getting the matched strings or follow a RegEx pattern.

* search() : return a match object if there is a match anywhere in the string
* findall() : return a list containing all matches
* match() : returns a match object if the string matches the pattern only at the begining
* fullmatch() : returns a match object if the entire string matches the pattern

match() sample,

In [74]:
p_str = 'Hell'      # pattern string

In [75]:
'Match' if re.match(p_str,'Hello How you doing?') else "Doesn't match"

'Match'

In [76]:
'Match' if re.match(p_str,'HelLo How you doing?') else "Doesn't match"

"Doesn't match"

fullmatch() sample,

In [77]:
'Match' if re.fullmatch(p_str,'Hello How you doing?') else "Doesn't match"

"Doesn't match"

In [78]:
'Match' if re.fullmatch(p_str,'Hell') else "Doesn't match"

'Match'

search(),

In [79]:
search1 = re.search('test','This is just a test text')
search1.group()

'test'

In [80]:
'Match' if search1 else "Doesn't match"

'Match'

In [81]:
search1.group() if search1 else "Doesn't match"

'test'

In [82]:
search2 = re.search('Test','This is just a test text')
'Match' if search2 else "Doesn't match"

"Doesn't match"

Getting the group of every item in a simple math operation with search and a RegEx,

In [83]:
op = '4+58'
result = re.search(r'(\d+)([-+*/])(\d+)',op)

In [84]:
result.groups()

('4', '+', '58')

In [85]:
result.group(1)

'4'

In [86]:
result.group(2)

'+'

In [87]:
result.group(3)

'58'

search() with flag IGNORECASE,

In [88]:
search3 = re.search('GUIdo','Guido Van Rossum', flags = re.IGNORECASE)
search3.group()

'Guido'

In [89]:
search3.group() if search3 else "Doesn't match"

'Guido'

The meta character ^ at the beginning of a RegEx, is an anchor that means to search the expression that matches only the beginning of the string.

In [90]:
search4 = re.search('^Van','Guido Van Rossum is the best programmer in world')
search4.group() if search4 else "Doesn't match"

"Doesn't match"

In [91]:
search4 = re.search('^Van','VanGuido Rossum is the best programmer in world')
search4.group() if search4 else "Doesn't match"

'Van'

Getting phone number from string in a list using findall() and a RegEx ,

In [92]:
s10 = 'Peter Hudson, mobile: 212-921-9265 address: St. Jefferson 3458 NV.  Andrew Laurence, mobile: 524-298-1054 address: Bld. Harrison 105 VA.'

In [93]:
mobiles = re.findall(r'\d{3}-\d{3}-\d{4}',s10)
mobiles

['212-921-9265', '524-298-1054']

## Pandas and RegEx

It's also possible to use a RegEx on pandas structures. Here's an example finding a string that follows the pattern 4 word characters (\w{4}) and 6 digits (\d{6}) in a panda serie using a RegEx and match() method,

In [2]:
import pandas as pd

In [15]:
s11 = pd.Series({'UserID1': 'DIL891201','UserID2': 'APHT911020'})
s11

UserID1     DIL891201
UserID2    APHT911020
dtype: object

match() is used to find the exact match from begining of string,

In [17]:
s11.str.match(r'\w{4}\d{6}')

UserID1    False
UserID2     True
dtype: bool

Applying RegEx to the a key of a serie,

In [32]:
s12 = pd.Series(['USA, US 1','Colombia, COL 57','India, IND 56'])
s12

0           USA, US 1
1    Colombia, COL 57
2       India, IND 56
dtype: object

contains() checks if match the pattern in any part of string. In this example is looking for the ISO country caracter composed of 3 capital letters,

In [36]:
s12.str.contains(r' [A-Z]{3} ')

0    False
1     True
2     True
dtype: bool

match() only match with USA,

In [33]:
s12.str.match(r'[A-Z]{3}')

0     True
1    False
2    False
dtype: bool